<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>create</servlet-name>
        <servlet-class>API.create</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>debug</servlet-name>
        <servlet-class>API.debug</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enter</servlet-name>
        <servlet-class>API.enter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createFile</servlet-name>
        <servlet-class>API.createFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createDirectory</servlet-name>
        <servlet-class>API.createDirectory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateFile</servlet-name>
        <servlet-class>API.updateFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>copy</servlet-name>
        <servlet-class>API.copy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>move</servlet-name>
        <servlet-class>API.move</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>API.delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>copyRV</servlet-name>
        <servlet-class>API.copyRV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>copyVR</servlet-name>
        <servlet-class>API.copyVR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>share</servlet-name>
        <servlet-class>API.share</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>copyS</servlet-name>
        <servlet-class>API.copyS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>create</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>debug</servlet-name>
        <url-pattern>/debug</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enter</servlet-name>
        <url-pattern>/enter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createFile</servlet-name>
        <url-pattern>/createFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createDirectory</servlet-name>
        <url-pattern>/createDirectory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateFile</servlet-name>
        <url-pattern>/updateFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>copy</servlet-name>
        <url-pattern>/copy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>move</servlet-name>
        <url-pattern>/move</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>share</servlet-name>
        <url-pattern>/share</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>copyS</servlet-name>
        <url-pattern>/copyS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>copyRV</servlet-name>
        <url-pattern>/copyRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>copyVR</servlet-name>
        <url-pattern>/copyVR</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
